.sidebar {
  height: 100vh;
  position: fixed;
  left: 0;
  transition: all 0.5s;
  overflow: auto;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

/* .content::-webkit-scrollbar {
  display: none;
} */

.logo-container {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  transition: justify-content 0.5s;
}

.logo-container.collapsed{
  justify-content: center;
}

.logo-icon {
  width: 40px;
 justify-content: center;
}

.logo-1-icon{
  width: 60px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.profile-container.collapsed .profile-details {
  display: none;
}

.profile-image-container {
  margin-bottom: 10px;
}

.profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}


.profile-container.collapsed .profile-image {
  width: 60px; 
  height: 60px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-name-container {
  margin-bottom: 20px;
}

.profile-name {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.stats-container {
  display: flex;
  gap: 20px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-title {
  font-size: 14px;
  color: #555;
  font-weight: 600;
}

.stats-count {
  font-size: 16px;
  font-weight: 700;
}

.divider-line {
  height: 40px;
  border-left: 1px solid #ddd;
  margin: 0 10px;
}

.menu-items {
  margin-top: 10px;
}

.content {
  transition: margin-right 0.2s;
  background-color: #f4f7fe;
  height: calc(100vh - 65px); 
  overflow-y: auto;
  padding: 1.5%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 20px;
}

.toggle-button {
  position: absolute;
  top: 95%;
  transition: left 0.2s;
  z-index: 1000;
  background-color: rgb(243, 242, 242);
  border-radius: 50%;
  font-size: 13px;
}

.float-button {
  font-weight: 800;
}

.site-header{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px 0 10px ;
}

.header-link{
  color: black;
  font-size: 20px;
}

.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

