.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 60%;
    border: 2px solid blue;
}

.image-container img {
    width: 100%;
}

.form-data {
    padding: 25px;
    border: 1px solid black;
}

.form-heading {
    font-size: 25px;
    margin-bottom: 10px;
}

.form-description {
    font-size: 15px;
    color: #686868;
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.agreement a {
    color: red;
    font-weight: 600;
}

.form-button {
    width: 100%;
}

.forgot-remember-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.forgot-password-link {
    color: red;
    font-weight: 600;
}

.account-link-container {
    text-align: center;
}

.form-link-btn {
    font-weight: 600;
    padding: 1px 10px;
    color: red;
}

.divider {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider-text {
    padding: 0 10px;
    font-size: 13px;
    color: #79747E;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.social-icon {
    border: 1px solid blue;
    padding: 6px 40px 0;
    border-radius: 3px;
    cursor: pointer;
}

.social-icon img {
    width: 25px;
}

.back-to-login-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.back-to-login {
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 7px;
    color: black;
}

.arrow {
    font-size: 12px;
    color: black;
}

@media (max-width: 1200px) {
    .form-container {
        width: 70%;
    }

    .form-content {
        padding: 0 20px;
    }

    .form-heading {
        font-size: 28px;
    }

    .form-description {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .form-container {
        width: 80%;
    }

    .form-content {
        flex-direction: column;
        padding: 0 15px;
    }

    .form-image {
        width: 100%;
        height: 40vh;
        margin-bottom: 20px;
    }

    .form-data {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 20px 30px;
    }

    .form-heading {
        font-size: 26px;
    }

    .form-description {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .form-container {
        width: 95%;
        padding: 15px 20px;
    }

    .form-heading {
        font-size: 24px;
    }

    .form-description {
        font-size: 12px;
    }

    .form-row {
        flex-direction: column;
    }

    .social-icon {
        padding: 6px 20px 0;
    }
}